<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Building Framework">
        <classes>
            <class name="Demo1"></class>
            <class name="com.nehal.tests.DemoTricentis1"></class>
            <class name="com.nehal.tests.AddtoCartEditPageTest"></class>
            <class name="com.nehal.tests.CheckoutPage"></class>
            <class name="com.nehal.tests.HomePageTest"></class>
            <class name="com.nehal.tests.LandingpageTest"></class>
            <class name="com.nehal.tests.OrderCustomerInfo"></class>
            <class name="com.nehal.tests.RegisterProcess"></class>
            <class name="com.nehal.tests.ReorderTest"></class>
            <class name="com.nehal.tests.ShoppingCartPage"></class>

        </classes>
    </test>
</suite>